BuildingEscape/Binaries
BuildingEscape/Saved
BuildingEscape/Intermediate
BuildingEscape/Build
BuildingEscape/DerivedDataCache
BuildingEscape/BuildingEscape.VC.db
BuildingEscape/.vs/BuildingEscape/v15/Browse.VC.db
BuildingEscape/.vs/BuildingEscape/v15/ipch/AutoPCH/5758f9bdbd8a8b4/POSITIONREPORT.ipch
